.font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.resumer {
    display: flex;
    background-color: #F6A48C;
    flex-wrap: wrap;
    min-width: fit-content;
}

.reggieWalker {
    color: white;
    display: flex;
}


.photo {
    height: 200px;
    width: 200px;
    background-color: #F3F3F3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
}

.resumer-information {
    flex: 1 1 50vw;
}

picture {
    margin: 3.5rem;
    display: flex;
}

.qualification-education-container {
    display: flex;
    flex-wrap: wrap;
}

.qualifications {
    flex: 1 1 60%;
    margin-right: 5%;
}



.legend {
    display: flex;
    background-color: #475B73;
    color: white;
    padding: 0.5rem;
    width: 20vw;
    min-width: fit-content;

}


fieldset {
    background-color: #F6D4CB;
    border: none;
    width: 100%;
  
}

.work-experience {
    display: flex;
    flex-direction: row;
}


.work-experience-container {
    display: flex;
    flex-wrap: wrap;
}

.colonne-gauche {
    flex: 1 1 70%;
    margin-right: 5%;
    width: fit-content
}

.customer-services {
    display: flex;
    flex-direction: column;
}

.border-top {
    border-top: 1px solid black;
    padding-top: 2%;
    max-width: fit-content;
}

.colonne-droite {
    flex: 1 1 25%;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.margin-top {
    margin-top: 1rem;
}